
.bodys {
	font-family: sans-serif;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	height: 1050px;
	overflow: hidden;
	background-size: cover;
}

.containers h1 {
	font-size: 2.2rem;
	color: 000000;
	margin-bottom: 1px;
    margin-right: 10px;

}
