
.form {
	margin-left: 25%;
	margin-right: 25%;

}



.body2 {
	font-family: sans-serif;
	background-image: url('../images/Payment-Security.jpg');
	background-repeat: no-repeat;
	height: 1050px;
	overflow: hidden;
	background-size: cover;
}

.containers1 {
	position: absolute;
	top: 150px;
	left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	width: 1000px;
	height: 850px;
	padding: 60px 35px 35px 35px;
	border-radius: 0px 35px 0px 35px;
	background-color: rgba(5, 3, 3, 0.5);
	box-shadow: 0 0 8px #333;



}
.containers2 {
	position: absolute;
	top: 0px;
	left: 1050px;
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: right;
	width: 400px;
	height: 400px;
	padding: 60px 35px 35px 35px;
	border-radius: 0px 35px 0px 35px;
	background-color: rgba(5, 3, 3, 0.5);
	box-shadow: 0 0 8px #333;



}

.containers1 h1 {
	font-size: 2.2rem;
	color: rgb(224, 220, 220);
	margin-bottom: 1px;

}

.containers1 label {
	font-weight: 350;
	color: white
}
.containers2 p {
	font-weight: 350;
	color: white
}
.containers2 .p_tag{
	color:white;
	width: 300px;
	height: 400px;
}


.containers1 input {
	max-width: 300px;
	width: 600px;
	height: 40px;
	background-color: rgba(8, 8, 8, 0.7);
	margin: 1px 0;
	border-radius: 0px 20px 0px 20px;
	grid-template-columns: 15% 85%;
	padding: 0 0.100rem;
	position: relative;
	line-height: 1;
	font-weight: 600;
	margin-bottom: 18px;
	border: #fff;
	color: white;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px rgb(55, 6, 248);

}

.containers1 input placeholder {
	color: white;
	font-weight: 500;
	border: none;
	outline: none;
	background: none;
	width: 50%;
	font-size: 18px;
	color: white;
	padding: 20px 10px 20px 5px;
	margin-bottom: 30px;
	border-radius: 25px;
	box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}
.containers1 .ViweMore3 {
    font-weight: 250;
    margin-top: 15px;
    margin-left: 5px;
	margin-bottom: 4px;
    color: rgb(170, 200, 200);
    text-align: left;
    font-size: 12px;
}
.containers1 .ViweMore4 {
    font-weight: 250;
    margin-top: -2px;
	margin-bottom: 4px;
    margin-left: 5px;
    color: rgb(170, 200, 200);
    text-align: left;
    font-size: 12px;
}


.containers1 button {
	border: none;
	width: 30%;
	height: 40px;
	border-radius: 0px 20px 0px 20px;
	font-size: 18px;
	font-weight: 700; 
	font-family: "Lato", sans-serif;
	color: #fff;
	text-align: center;
	background-color: rgba(8, 8, 8, 0.7);
	box-shadow: 3px 3px 8px #10B48E, -3px -3px 8px #10B48E;
}

.containers1 button:hover {
	background-color: #10B48E;
}

.containers1 button:active {
	background-color: #88ef9e;
}